<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <h2>Area 1</h2>
      <p>Nama Kota : <%= data[0].name %></p>
      <p>Nama Provinsi : <%= data[0].province %></p>
    <h2>Area 2</h2>
        <p>Nama Kota : <%= data[1].name %></p>
        <p>Nama Provinsi : <%= data[1].province %></p>
  </body>
</html>
