<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>

  <body>
    <div class="title">
      <h1>First User</h1>
      <h2>
        Username  = <%= user.username1 %>
      </h2>
      <h2>
        Password = <%= user.password1 %>
      </h2>
      <h2>
        Email = <%= user.email1 %>
      </h2>
      <h1>Second User</h1>
      <h2>
        Username = <%= user.username2 %>
      </h2>
      <h2>
        Password = <%= user.password2 %>
      </h2>
      <h2>
        Email = <%= user.email2 %>
      </h2>
    </div>
  </body>

</html>
