<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>UserName</th>
    <th>Password</th>
    <th>Email</th>
  </tr>
  <tr>
    <td style="text-align:center;"><%= data.users[0].username%></td>
    <td style="text-align:center;"><%= data.users[0].password%></td>
    <td style="text-align:center;"><%= data.users[0].email%></td>
  </tr>
  <tr>
    <td style="text-align:center;"><%= data.users[1].username%></td>%>
    <td style="text-align:center;"><%= data.users[1].password%></td>
    <td style="text-align:center;"><%= data.users[1].email%></td>
  </tr>
</table>

</body>
</html>
