<div> username: <%= data[0].username %> password:  <%= data[0].password %> email: <%= data[0].email %></div>
<div> username: <%= data[1].username %> password:  <%= data[1].password %> email: <%= data[1].email %></div>


<!-- <script>
var dataObj = <%= data %>
</script> -->
