<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>users</title>
  </head>
  <body>
    <div><b>Users List</b></div>
    <div>=============================</div>
    <div>username : <%=viewUsers()[0]%></div>
    <div>password : <%=viewUsers()[1]%></div>
    <div>email : <%=viewUsers()[2]%></div>
    <div>------------------------------</div>
    <div>username : <%=viewUsers()[3]%></div>
    <div>password : <%=viewUsers()[4]%></div>
    <div>email : <%=viewUsers()[5]%></div>
  </body>
</html>