<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/ftyle.css">
    <title> DATA USER </title>
  </head>

  <body>
    <ul>
      <li> Username : <%=JSON.stringify(show[0].username)%></li>
      <li> Password : <%=JSON.stringify(show[0].password)%></li>
      <li> Email : <%=JSON.stringify(show[0].email)%></li>
    </ul>
    <ul>
      <li> Username : <%=JSON.stringify(show[1].username)%> </li>
      <li> Password : <%=JSON.stringify(show[1].password)%></li>
      <li> Email : <%=JSON.stringify(show[1].email)%></li>
    </ul>

  </body>
</html>
