<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>

    </title>
  </head>
  <body>

     <% dataJSON.users.forEach(function(user){  %>
    <%=  user.username %>
    <% }) %>

    <br>
    <%= dataJSON.cities  %>
    <br>
    <%= dataJSON.users  %>

    <br>
    <%= dataJSON.users[0].username    %>
    <br>

    <%= dataJSON.cities[0].name  %>
    <br>



<!--  -->
  </body>
</html>
